body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url('/static/images/background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; /* Inherit the background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px); /* Adjust the blur radius as needed */
    z-index: -1; /* Ensure the pseudo-element is behind other content */
}

.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    /* Add any specific styles for the container */
}
.course, .semester {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.course input, .semester input {
    margin: 0 10px;
    padding: 10px;
    width: 150px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect */
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box-shadow on hover */
}

input[type="checkbox"] {
    margin-right: 10px;
}