<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    
    
    <div class="container_left">
        <h1>About Me UWU</h1>
        <p>Name: Ben Dover</p>
        <p>Occupation: Putting white on your moms teeth</p>
        <p>Instagram : karate_mass_13</p>
        <p>Location: YOU CANNOT HOP IN MY CAR 🗣️‼️‼️‼️🗣️‼️‼️‼️</p>
        <button onclick="location.href='/'">Back</button>
    </div>
   
    <div class="content-wrapper">
        <div class="heading-container">
            <h1>Baseline Test</h1>
        </div>  
        <img src="/static/images/baseline.png" class="above-image">
        <div class="scrollable-container">
            <div class="scrollable-content">
    
            
        <!-- Additional text -->
            <p>10 minutes ago is Edge.</p>
            <p>Edge.</p>
            <p>Have you ever been on an Edging streak? Edge.</p>
            <p>Edge.</p>
            <p>Do they keep you in a state of Edging? Edge.</p>
            <p>Edge.</p>
            <p>When you are not performing your Edging, do they make you Goon? Edge.</p>
            <p>Edge.</p>
            <p>Rizz.</p>
            <p>Rizz.</p>
            <p>What's it like to hold the Gyat of someone you love? Rizz.</p>
            <p>Rizz.</p>
            <p>Do they teach you how to feel? Sigma... Rizz.</p>
            <p>Rizz.</p>
            <p>Do you long for having your heart Rizzed? Rizz.</p>
            <p>Rizz.</p>
            <p>Do you dream about being Rizzed?</p>
            <p>Rizzed.</p>
            <p>Baby Gronk Rizzed up Livvy Dun. Rizz.</p>
            <p>Rizz.</p>
            <p>Do you feel there is a part of you that feels Skibidi? Rizz.</p>
            <p>Rizz.</p>
            <p>Skibidi, Edge, Rizz.</p>
            <p>Skibidi, Edge, Rizz.</p>
            <p>Why don't you say that three times? Skibidi, Edge, Rizz.</p>
            <p>Skibidi, Edge, Rizz. Skibidi, Edge, Rizz. Skibidi, Edge, Rizz.</p>
        </div>
    </div>
    <div class="signature"></div>
</body>
</html>
