<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGPA Calculator</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>CGPA Calculator</h1>
    <div id="semesters"></div>
    <button id="addSemester">+ Add Semester</button>
    <button id="deleteSemester">- Delete Selected Semesters</button>
    <button id="calculateCGPA">Calculate CGPA</button>
    <button id="exportCGPAToExcel">Export to Excel</button>
    <input type="text" id="studentName" placeholder="Enter your name">
    <p id="result"></p>
    <button onclick="location.href='/'">Back</button>
    <script src="/static/js/script.js"></script>
</body>
</html>
