<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGPA Calculator</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container shadow-depth">
        <h1>CGPA Calculator</h1>
        <div id="semesters">
            <!-- Semester input fields -->
        </div>
        <button id="addSemester">+ Add Semester</button>
        <button id="deleteSemester">- Delete Selected Semesters</button>
        <button id="calculateCGPA">Calculate CGPA</button>
        <input type="text" id="studentName" placeholder="Enter your name">
        <button id="exportCGPAToExcel">Export to Excel</button>
        <button id="exportToPNG">Export to PNG</button>
        <p id="result"></p>
        <button onclick="location.href='/'">Back</button>
    </div>
    <div class="logo">
        <img src="/static/images/logo.png" alt="Logo">
    </div>
    <div class="signature"></div>
    <script src="/static/js/cgpa.js"></script>
    <div class="overlay"></div>
    <div class="reaction-container">
        <p class="reaction-text"></p>
        <img class="reaction-img" alt="Reaction Image">
    </div>
</body>
</html>
