<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPA and CGPA Calculator</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Do you want to calculate GPA or CGPA?</h1>
        <button onclick="window.location.href='/gpa'">GPA</button>
        <button onclick="window.location.href='/cgpa'">CGPA</button>
    </div>
</body>
</html>
